@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@layer base {
  .font-display {
    font-family: "Poppins", sans-serif;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1A2D41;
}
::-webkit-scrollbar-thumb {
  background: #3b5169;
  border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
  background: #56708d;
}
