@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@layer base {
  .font-display {
    font-family: "Poppins", sans-serif;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1A2D41;
}
::-webkit-scrollbar-thumb {
  background: #3b5169;
  border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
  background: #56708d;
}

/* tambahin di file CSS kamu */
@layer utilities {
  .all-unset {
    all: unset;
    box-sizing: border-box; /* biar padding dihitung normal */
    line-height: 1.5;        /* normalin tinggi baris */
    display: block;          /* jangan inline */
  }
}

.massage-form {
    all: unset;
    font-size: 15px;
    width: 100%;
    min-height: 216px; 
    padding-left: 7px;
    padding-top: 9px;;
    border: 1px solid white;
    border-radius: 10px;
}
